body{
    font-family: Verdana, sans-serif;
}


#banner{
    width: 100%;
    max-width: 900px;
    height: auto;
    display: block;
    margin: 30px auto;
    border-radius: 10px;
}

/* =========================
   General
========================= */

.card{
    margin-bottom:20px;
}

footer{
    text-align:center;
    padding:15px;
    margin-top:30px;
}

/* =========================
   Calculator
========================= */

table input[type="button"]{
    width:100%;
}

/* =========================
   Packing List
========================= */

.checklist{
    border:1px solid #ccc;
    padding:20px;
    border-radius:10px;
    background-color:#f8f9fa;
    margin-bottom:20px;
}

.form-check{
    margin-bottom:10px;
}
